<div class="container-fluid">
    <div class="row d-flex full-height loginWrapper">

        <div class="col-md-7 login-page-background position-relative">

            <!-- black overlay -->
            <div class="black-overlay"></div>

            <div class="hidden-xs row align-items-center  full-height">
                <div class="col align-self-center">
                    <div class="p-5">
                        <h2 class="text-white">
                            Tijd besparen?
                        </h2>
                        <h2 class="text-white">
                            Zet audiobestanden razendsnel om in tekst. Snel, correct en veilig.
                        </h2>
                        <h4 class="text-white">
                            Zoom Script gaat deze zomer live!
                        </h4>
                    </div>

                </div>
            </div>

        </div>

        <div class="col align-self-center">
            <div class="">

                <form [formGroup]="rForm" class="form-horizontal form-register padding-vertical-5" role="form" (ngSubmit)="login(rForm.value)">

                    <img src="/assets/img/zoom-script-logo-black.png" style="width: 150px; height: auto; " class="mx-auto d-block" />
                    <br>
                    <!--<div class="text-center">-->

                        <!---->
                        <!--&lt;!&ndash;<div class="">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 class="headerRegistration">Login</h2>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->


                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa-user-1"></i>
                            </div>
                            <input type="text" formControlName="email" class="form-control" id="email" required autofocus email placeholder="Enter your email"
                                autocomplete="email">
                        </div>

                        <div class="errorMobile" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched"><h6 class="errorMobileText">Invalid</h6></div>

                        <div class="d-none d-sm-block alert alert-info mt-1 hidden-sm" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please enter a valid email</div>

                        <!-- <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    <i class="fa fa-close"></i> Example error message
                                </span>
                            </div>
                        </div> -->
                    </div>

                    <div class="form-group mb-0">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon">

                                <i class="fa-key-1"></i>
                            </div>
                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required autocomplete="password">
                        </div>

                        <div class="errorMobile" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched"><h6 class="errorMobileText">Invalid</h6></div>

                        <div class="d-none d-sm-block alert alert-info text-center" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Your password is invalid</div>

                    </div>


                    <div class="d-inline-block form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put password error message here -->
                        </span>
                    </div>

                    <div *ngIf="error" class="row d-flex justify-content-center">
                        <div style="padding-top: 2rem" style="display:flex">

                            <div class="alert mx-auto text-center alert-danger">
                                {{error}}
                            </div>

                        </div>
                    </div>

                    <br>


                    <div class="row mb-1 mb-sm-1">

                        <div class="col">
                            <button type="submit" class="zsBtn-lg btn btn-primary btn-block w-50 mx-auto" [disabled]="!rForm.valid">
                                <i class="fa fa-key-1"></i> Login</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-1 align-self-center text-center">
                            <a class="link" routerLink="/forgot_password">Forgot Password?</a>

                        </div>
                    </div>





                    <!--<div class="d-none d-md-block divider position-relative">-->
                        <!--<hr class="my-2">-->
                        <!--<div class="divider-word">-->
                            <!--or-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<button type="submit" class="mt-2 zsBtn-lg mx-auto w-50 d-none d-md-block btn btn-primary btn-block" [disabled]="!rForm.valid">-->
                        <!--Login with Google</button>-->



                    <div class="mt-1  mb-1  text-center">
                        <a class="link " routerLink="/register">Register now</a>
                    </div>



                </form>

            </div>
        </div>

    </div>
</div>