<div class="container padding-vertical-5">


    <form [formGroup]="rForm" class="form-horizontal" role="form" (ngSubmit)="setNewPassword(rForm.value)">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Set up new password</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">New Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="password" formControlName="password" class="form-control" id="password" required autofocus placeholder="Enter your password">
                    </div>

                    <div class="alert alert-info margin-vertical-top-1" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Please enter a valid password</div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">Re-type New Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" required autofocus placeholder="Enter your password again">
                    </div>

                    <div class="alert alert-info margin-vertical-top-1" *ngIf="rForm.controls.confirmPassword.errors?.MatchPassword  && rForm.controls['confirmPassword'].touched">Passwords do not match.</div>

                </div>
            </div>

        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="hidden" formControlName="token" id="token" required/>
                <button type="submit" class="btn btn-success" [disabled]="!rForm.valid">
                    <i class="fa fa-sign-in"></i> Submit</button>
                <a class="btn btn-link" routerLink="/login">Login?</a>
            </div>
        </div>
        <div class="row" style="padding-top: 2rem" #errorMessage style="display:none">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-danger margin-vertical-top-1">
                    Invalid Request or token is expired.
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 2rem" #successMessage style="display:none">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success margin-vertical-top-1">
                    New password has been set. You can proceed with login.
                </div>
            </div>
        </div>

    </form>
</div>
